version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    <<: &common-config
      schedule:
        interval: "daily"
        time: "03:00"
      cooldown:
        default-days: 5
        semver-major-days: 30
        semver-minor-days: 7
        semver-patch-days: 3
      groups:
       patches:
          applies-to: version-updates
          update-types:
            - "patch"
  - package-ecosystem: "github-actions"
    directory: "/"
    <<: *common-config
